body {font-family: Arial;}
body { font-size: 16px;}
body {color:black}
body { background-color: #fce4ec; }
.header {text-align: center;
    color: #880e4f;
    background: linear-gradient(to bottom, #f8bbd0 0%, white 100%);
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}
.nav{
    height: 50px;
    background-color: #b97198;
    text-align: center;
    line-height: 50px;
    font-size: 0;
}
.nav-item{
    display: inline-block;
}
.nav-item a{
    padding:0 50px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: color .3s;
}
i {font-size: 18px;}
h1 {font-size: 40px;
    text-decoration: underline;}
.menu{
    text-align: center;
    font-size: 24px;
}
a {
	color: #880e4f;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
	color: #5e0836;
    text-decoration: none;
    font-weight: bold;
}
.me{
    font-size: 16px;
    text-align: left ;
}
h2{
    color: #880e4f;
}
.image{
    width: 400px;
    border-radius: 16px;
}

aside{
    height: 100%;
    background-color: #b97198;
    float: right;
    width: 30%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 16px;

}
aside{
    color: #5e0836;
    text-align: center;
    font-weight: bold;
}

.box{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b97198;
    padding: 20px;
    border-radius: 16px;
    display: block;
    object-fit: cover;
    text-align: center;
}

.centered_item{
    display: inline-block;
}


table, td, th {
    border: 1px solid black;
    text-align: center;
}

footer{
    text-align: center;
    bottom:0%;
    background-color: #b97198;
    width: 100%;
    height: 30px;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(168, 101, 137);
    border:black;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    text-align: center;
}
.title{
   text-align: center;
    color: #880e4f;
    background: linear-gradient(to bottom, #f8bbd0 0%, white 100%);
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
    
}
@media screen and(max-width: 100px){
	footer{
	background: red;
	}
}
